$secondary-color: #333333;
$primary-color: #2f80ed;

html, body {
	height: 100%;
}

.intro {
	min-height: 100%;
	
	padding: 10px;
	width: 100%;
	
	max-width: 700px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 1 auto;
}

header{
	display: flex;
	justify-content: space-between;
}

.about {
	margin-bottom: 30px;
}

.logo{
	
	height: 80px;
	width: 100px;
	background: url(https://img.freepik.com/premium-photo/closeup-of-bearded-mans-male-with-mustache-growing-perfect-beard-closeup-of-young-bearded-man_293990-1108.jpg) no-repeat;
	background-size: contain;
	background-position: right bottom;
}

.cv {
	padding: 5px;
	background-color: rgb(247, 247, 247);
}



* {
	color: $secondary-color;
	box-sizing: border-box;
}

h1{
	
    color: $primary-color;
	margin-bottom: 1.25em;
}

h2 {
	color: $secondary-color;
	font-size: 1.5em;
	margin-top: 0;
	margin-bottom: 1em;
}

h3 {
	color: $secondary-color;
	font-size: 1.2em;
	margin-top: 0;
	margin-bottom: 1em;
}

a {
	color: $primary-color;
}

// main

.contact_section {
	background-color: #cabebe;
}

.contacts {
	margin-bottom: 2em;
}
.contact {
	display: flex;
	padding: 5px;
	
}
.contact_type {
	color: rgb(255, 255, 255);
	margin-right: 10px;
	
}

.contact_value {
	color: #000000;
}

pre {
	color: rgb(86, 114, 190);
}

// footer

footer {
	background-color: rgb(203, 244, 247);
	padding: 5px;
}

.container {
	display: flex;
	justify-content: space-between;
	
	height: 50px;
	
	font-size: .7em;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.footer_logo {
	
    height: 50px;
	width: 100px;
	background: url(https://rs.school/images/rs_school_js.svg) no-repeat;
	background-size: contain;
   
}
.footer_contact {
	padding-left: 200px;
	
    
	
}

.footer_cont {
	display: inline-block;
	
	margin: 0 15px;
}

.footer_value {
	font-weight: 900;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	
}

.year {
	font-weight: 700;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: right;
}